/* body {
    background-image: url("https://media.giphy.com/media/3ohhwoER829Q2hWwx2/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */

